.btn-basic {
    border: 2px solid blue;
    padding: 10px 30px;
    border-radius: 50px;
    color: blue;
    background-color: white;
    font-weight: bold;
    display: inline-block;
}

.btn-basic:hover {
    background-color: blue;
    color: white;
    transition: 0.3s;
}